.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.title-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .title {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .icons-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    @media (max-width: 768px) {
      gap: 1rem;
    }
  }
}

.content-refund {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  gap: 1rem;
  min-height: "20rem";

  @media (max-width: 768px) {
    min-height: auto;
  }

  &.fullscreen {
    min-height: "calc(100vh - 60px)";

    @media (max-width: 768px) {
      min-height: "calc(100vh - 60px)";
    }
  }
}

.group-buttons-refund {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin-top: 2rem;
}
