@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mobileSize: 800px;
  --background: #ffffff;
  --foreground: #171717;
  --gray1: rgba(0, 0, 0, 0.8);
  --gray2: rgba(0, 0, 0, 0.2);
  --error: #ff3333;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --gray1: rgba(255, 255, 255, 0.8);
  --gray2: rgba(255, 255, 255, 0.2);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: roboto, sans-serif;
}
